<!DOCTYPE html>
<!--[if lt IE 7]><html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../node_modules/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="../node_modules/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="app.css">
    <script src="../node_modules/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <!--[if lte IE 9]><script src="../node_modules/aight/aight.js" charset="utf-8"></script><![endif]-->
    <!--[if lte IE 8]><script src="../node_modules/r2d3/r2d3.js" charset="utf-8"></script><![endif]-->
    <!--[if gte IE 9]><!-->
    <script src="../node_modules/d3/d3.js"></script>
    <!--<![endif]-->

    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-route/angular-route.js"></script>

    <script src="playersFactory.js"></script>
    <script src="PlayersController.js"></script>
    <script src="ScoresController.js"></script>
    <script src="ChartController.js"></script>
    <script src="app.js"></script>

    <div ng-app="scoreBoardApp">
        <form name="playersForm" class="players" ng-controller="PlayersController as players">
            <h2>Players</h2>
            <ul>
                <li ng-repeat="player in players.list">
                    {{player.name}}
                    <button type="button" ng-click="players.delPlayer($index)">del</button>
                </li>
            </ul>
            <input type="text" name="playerName" placeholder="Add new player" ng-model="players.newPlayerName" pattern="\S+" ng-keypress="$event.keyCode === 13 && players.addPlayer()"/>
        </form>

        <form name="scoresForm" class="scores" ng-controller="ScoresController as scores">
            <h2>Scores</h2>
            <ul>
                <li ng-repeat="player in scores.list">
                    {{player.name}}: {{player.score}}
                    <button type="button" ng-click="scores.addScore($index)">add score</button>
                </li>
            </ul>
            <label>
                Add this amount of score:
                <input name="scoreAmount" type="number" min="-20" max="20" ng-model="scores.addScoreAmount" value="0"/>
            </label>

            <div ng-if="scores.list.length" style="position: absolute; right: 1em; top: 1em;">
                <div class="chart" ng-controller="ChartController as chart"></div>
            </div>
        </form>
    </div>
</body>
</html>
